.container {
  display: flex;
  height: calc(100vh - 70px);
  background-color: #f8f9fb;
  overflow: hidden;
}

.leftPanel, .rightPanel {
  padding: 20px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leftPanel {
  border-right: 2px solid #ccc;
  overflow-y: auto;
}

.divider {
  width: 5px;
  background: #888;
  cursor: ew-resize;
  transition: background 0.3s;
}

.divider:hover {
  background: #555;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.inputText {
  width: 100%;
  height: 400px;
  padding: 12px;
  font-size: 18px;  /* Chỉnh font lớn hơn */
  border: 1px solid #ddd;
  border-radius: 5px;
}

.wordCount {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.instructionText{
  margin-top: 150px;
}