/* Body tổng */
.result-body {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
  }
  
  /* Ô nhập văn bản */
  .result-textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
  }
  
  /* Ô nhập tiêu đề */
  .result-input {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
  }

    /* Divider ngang */
  .divider {
    right: 0;
    width: 100vw;
    height: 10px;
    background-color: #ddd;
    border: none;
    margin: 20px auto;
  }
