.header {
  width: 100vw; /* Full chiều rộng màn hình */
  height: 70px; /* Độ cao cố định */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0; /* Xóa padding */
  margin: 0; /* Xóa margin */
  box-sizing: border-box;
}

.logoContainer {
  display: flex;
  align-items: center;
  padding-left: 20px; /* Thêm padding nhỏ cho logo */
}

.titleContainer{
  display: flex;
  align-items: center;
  width: 220px;
  height: 50px;
  background-color: #777C90;
  border-radius: 6px;
}

.title {
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.backButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding-right: 20px; /* Đẩy nút back sát lề phải */
}
